#message
{
	resize: vertical;
}

a.btn
{
	margin-right: 10px;
}

p.infoMessage
{
	width: 100%;
	border-radius: 5px;
	background-color: #ffe5e5;
	color: red;
}

.glyphicon-info-sign
{
	margin: 0px 10px 0px 10px;
}

.navMessages
{
	width: 100%;
	text-align: center;
	/*border: solid black 1px;*/
}

.navMessages a.navMessagesItem
{
	margin: 0px 5px 0px 5px;
	padding: 5px;
	font-size: 14pt;
}