.cblack { color: black; }

#message
{
	resize: vertical;
}

a.btn
{
	margin-right: 10px;
}

p.infoMessage
{
	width: 100%;
	border-radius: 5px;
	background-color: #ffe5e5;
	color: red;
}

.glyphicon-info-sign
{
	margin: 0px 10px 0px 10px;
}

.navMessages
{
	width: 100%;
	text-align: center;
	/*border: solid black 1px;*/
}

.navMessages a.navMessagesItem
{
	margin: 0px 5px 0px 5px;
	padding: 5px;
	font-size: 14pt;
}

#IndexSearch
{
	width: 100%;
	margin: 10px 0px 10px 0px;
	text-align: center;
	font-size: 14pt;
	color: #18BC9C;
}

#IndexSearch ::-webkit-input-placeholder
{
	color: #18BC9C;
	opacity: 0.5;
}

#IndexSearch i
{
	margin: 0px 2px 0px 2px;
}

#IndexSearch input
{
	width: 25%;
	border: none;
	border-bottom: solid #18BC9C 2px;
	outline: none;
}

.infoProfil
{
	margin-bottom: 50px;
}

.infoProfil a
{
	margin-left: 10px;
	font-size: 12pt;
}

.alert
{
	padding: 8px;
}

.readmore
{
	display: block;
	margin: 8px 0;
}

.fa-star-o:first-child, .fa-star:first-child
{
	margin-left: 10px;
}

.fa-star{
	color: orange;
}

.stars:hover
{
	cursor: pointer;
}

.sprite
{
	width: 48px;
	height: 48px;
	display: inline-block;
	background-image: url("../img/reseaux.png");
}

.fb { background-position: -48px 0px }
.yt { background-position: calc(-48px*2) 0px }
.tw { background-position: calc(-48px*3) 0px }
.in { background-position: calc(-48px*4) 0px }
.gp { background-position: calc(-48px*5) 0px }
.fb:hover { background-position: -48px -48px }
.yt:hover { background-position: calc(-48px*2) -48px }
.tw:hover { background-position: calc(-48px*3) -48px }
.in:hover { background-position: calc(-48px*4) -48px }
.gp:hover { background-position: calc(-48px*5) -48px }